*,
*:before,
*:after {box-sizing: border-box;}

.display {
  background-color: yellow;
  width: 400px;
}

.list {
  width: 250px;
}

.cat {
    display: inline-block;
    width: 250px;
    background-color: #cde;
}